<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <title>Clipboard Image Paste</title>
</head>
<body>
    {% include 'nav_bar.html' %}
    {% block content %}
    {% endblock %}
    <div class="main">
      <h1 style="margin: 0">{{theme}}</h1>
      <div class="new_card_form">
          <h2>New Card</h2>
          <div>
              <form method="post" action="/{{theme}}/new_card">
                  <label for="front">Front:</label><br>
                  <textarea id="front" name="front" rows="5" cols="30" maxlength="150"></textarea><br>
                  <label for="back">Back:</label><br>
                  <textarea id="back" name="back" rows="5" cols="30" maxlength="150"></textarea><br>
                  <input type="radio" id="1" name="level" value="1">
                  <label for="1">1</label>
                  <input type="radio" id="2" name="level" value="2">
                  <label for="2">2</label>
                  <input type="radio" id="3" name="level" value="3">
                  <label for="3">3</label>
                  <div contenteditable="true" id="imageContainer" style="border: 1px solid #ccc;hight:100%; cursor: text;"></div>
                  <button onclick="submit_image()">Add Card</button><br>
                  <a href="{{url_for('theme',theme=theme)}}">
                  <input class="button" type="button" value="Cancel"/>
                  </a>
              </form>
          </div>
      </div>
    </div>
  <script>
    function submit_image(){
       document.getElementById('back').value=document.querySelector('div img').src; 
    }
    document.getElementById('imageContainer').addEventListener('paste', function(event) {
      var items = (event.clipboardData || event.originalEvent.clipboardData).items;

      for (var i = 0; i < items.length; i++) {
        if (items[i].type.indexOf('image') !== -1) {
          var blob = items[i].getAsFile();
          var reader = new FileReader();

          reader.onload = function(e) {
            var img = document.createElement('img');
            img.src = e.target.result;
          };
          reader.readAsDataURL(blob);
        }
      }
      document.getElementById('imageContainer').appendChild(img);
    });
  </script>
</body>
</html>

